<div class="container p-10">
    <h3 class="text-center mt-5 mb-5"> Nombre del curso: {{ currentCurso?.titulo }}</h3>
    <c-row class="mb-10">
        <c-col sm="2">
            <b>Objetivo:</b>
        </c-col>
        <c-col sm="10">
            <p> {{ currentCurso?.objetivo }} </p>
        </c-col>
    </c-row>
    <c-row class="mb-10">
        <c-col sm="2">
            <b> Dirigido a: </b>
        </c-col>
        <c-col sm="4">
            <p> {{ currentCurso?.dirigido_a }} </p>
        </c-col>
        <c-col sm="2">
            <b> Duracion: </b>
        </c-col>
        <c-col sm="4">
            <p> {{ currentCurso?.comentarios_duracion }} </p>
        </c-col>
    </c-row>
    <c-row class="mb-10">
        <c-col sm="2">
            <b> Modalidad: </b>
        </c-col>
        <c-col sm="2">
            <c-badge class="ms-2 float-start" color="primary" *ngIf="currentCurso?.modalidad?.includes('Presencial')">
                Presencial </c-badge>
            <c-badge class="ms-2 float-start" color="warning" *ngIf="currentCurso?.modalidad?.includes('Online')">
                Online </c-badge>
        </c-col>
        <c-col sm="2">
            <b> Comentarios generales: </b>
        </c-col>
        <c-col sm="6">
            <p> {{ currentCurso?.comentarios_generales }} </p>
        </c-col>
    </c-row>
    <c-row class="mb-10">
        <c-col sm="2">
            <b> Importancia: </b>
        </c-col>
        <c-col sm="10">
            <p> {{ currentCurso?.importancia }} </p>
        </c-col>
    </c-row>

    <h5 class="text-center mt-5 mb-5"> Modulos del Curso </h5>

    <div class="accordion" id="accordionExample">
        <div class="accordion-item" *ngFor="let modulo of modulosCurso; let i = index">
            <h2 class="accordion-header" id="heading{{ i }}">
                <button class="accordion-button" type="button" data-bs-toggle="collapse"
                    [attr.data-bs-target]="'#collapse' + i" [attr.aria-controls]="'collapse' + i">
                    <span style="font-weight: bold;">TEMA {{ i+1 }}.- </span> {{ modulo.nombre_modulo }}
                    <c-badge class="ms-2 float-end" color="success"> {{ modulo.area }} </c-badge>

                    @if (modulo.estatus_modulo == 'proceso'){
                        <img src="./../../../../../../assets/images/proceso.png" class="position-absolute top-0 end-0" style="margin-left: 50px; margin-top: 15px;"
                        title="En proceso" width="20px" />
                    }@else if(modulo.estatus_modulo == 'termindo'){
                        <img src="./../../../../../../assets/images/terminado.png" class="position-absolute top-0 end-0" style="margin-left: 50px; margin-top: 15px;"
                        title="Terminado" width="20px" />
                    }@else{
                        <img src="./../../../../../../assets/images/por_iniciar.png" class="position-absolute top-0 end-0" style="margin-left: 50px; margin-top: 15px;"
                        title="Pendiente de empezar" width="20px" />
                    }
                    

                </button>
            </h2>
            <div [id]="'collapse' + i" class="accordion-collapse collapse" [attr.aria-labelledby]="'heading'+i">
                <div class="accordion-body">

                    @if (modulo.submodulos.length > 0){

                    <h5 class="mt-5 mb-5">
                        Contenidos del modulo
                    </h5>

                    <ul class="list-group">
                        <li class="list-group-item" *ngFor="let submodulo of modulo.submodulos; let y = index">
                            <div class="circle" [ngClass]="{'seen': submodulo.seen, 'not-seen': !submodulo.seen}"></div>
                            <a href="javascript:void(0);" class="topic-link"
                                (click)="goToTemaCurso(modulo.id_modulo, submodulo.id_submodulo)"> {{ i+1 }}.{{ y }}
                                .- {{ submodulo.nombre_submodulo }} </a>
                                @if (submodulo.estatus_submodulo == 'proceso'){
                                    <img src="./../../../../../../assets/images/proceso.png" class="position-absolute top-0 end-0" style="margin-left: 50px; margin-top: 15px;"
                                    title="En proceso" width="20px" />
                                }@else if(submodulo.estatus_submodulo == 'termindo'){
                                    <img src="./../../../../../../assets/images/terminado.png" class="position-absolute top-0 end-0" style="margin-left: 50px; margin-top: 15px;"
                                    title="Terminado" width="20px" />
                                }@else{
                                    <img src="./../../../../../../assets/images/por_iniciar.png" class="position-absolute top-0 end-0" style="margin-left: 50px; margin-top: 15px;"
                                    title="Pendiente de empezar" width="20px" />
                                }
                        </li>
                    </ul>
                    } @else{
                    <h5 class="mt-5 mb-5"> Sin información. </h5>
                    }
                </div>
            </div>
        </div>
    </div>
</div>